/* Import font */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&display=swap');
@font-face {
    font-family: 'SF Mono';
    src: local('SF Mono'), url('https://path/to/sf-mono.woff2') format('woff2');
  }

/* General body styling */
body {
    font-family: 'IBM Plex Mono', monospace;
    background-color: #f4f4f4;
    color: #222;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    line-height: 1.6;
}

/* Main container styling */
.container, main {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Header and Title Styling */
h1 {
    font-size: 30px;
    font-weight: normal;
    color: #222;
    /* text-align: ; */
    margin-bottom: 0px;
}

.dates {
    font-size: 18px;
    font-family: monospace;
    font-weight: normal;
    color: #666;
    margin-top: 0;
    margin-bottom: 20px;
}

/* Navigation Styling */
nav {
    text-align: left;
    margin-bottom: 40px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: underline;
    color: black;
    margin: 0 10px;
}

nav a:hover {
    color: gray;
}

/* Content Styling for Blog Post Pages */
.content {
    text-align: left;
}

p {
    margin-bottom: 20px;
    text-indent: 2em
}

/* Responsive Adjustments */
@media (max-width: 600px) {
    h1 {
        font-size: 28px;
    }
    .container, main {
        padding: 10px;
    }
}
hr {

    width: 70%;
    border: 0;
    height: 2px;
    background: #999;
    margin: 40px auto;

}