/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&display=swap');

/*@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400&display=swap');*/

/* General body styling */
body {
    font-family: 'IBM Plex Mono', monospace;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    line-height: 1.2;
}

/* Main container styling */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* ASCII Tree Styling */
.tree {
    color: #000000;
    line-height: 1.2;
    text-align: left;
    margin-left: 0px;
    white-space: pre-wrap; /* Keeps ASCII formatting */
    display: flex;
    justify-content: center; /* Centers the entire tree as a block */
}

.tree a {
    text-decoration: none;
    color: #000000;
}

.tree a:hover {
    color: #000000;
    text-decoration: underline;
}

.tree pre {
    margin: 40px 0 30px 0;
}

/* Homepage Content Styling */
main {
    width: 100%;
}

/* Post List Styling */
.post-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.post-list li {
    margin-bottom: 0px;
}

.separator {
    text-align: center;
    margin: 5px 0;
    color: #666;
}

.post-title {
    font-size: 14pt;
    padding-left: 1px;
}

.post-list a {
    text-decoration: none;
    color: #222;
}

.post-list a:hover {
    color: #000;
    text-decoration: underline;
}

.post-date {
    float: right;
    font-size: 16px;
    color: #666;
    padding-right: 1px;
    padding-top: 3px;
}

/* Responsive Adjustments */
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
}
